In [1]:
#Author : Janmejay Mohanty
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [2]:
testdata = pd.read_csv('test.csv')
testdata.head()

   ID         x         y         z  actual-class
0   1  8.074807  5.988044  3.844979             1
1   2  4.952249  5.823205  1.612045             0
2   3  4.773178  0.078757  4.209442             0
3   4  9.845919  2.055448  3.525702             1
4   5  1.612492  1.320515  8.200455             0

In [3]:
traindata = pd.read_csv('train.csv')
traindata.head()

          x         y         z  class
0  8.599291  9.729418  6.432371      1
1  6.592955  0.082556  1.969544      1
2  5.596471  9.815682  0.027295      1
3  2.743639  8.783177  4.041946      0
4  4.458362  5.750222  0.099070      0

In [4]:
X = testdata.drop(['actual-class','ID'],axis=1,)
y = testdata['actual-class']
y.head()

0    1
1    0
2    0
3    1
4    0
Name: actual-class, dtype: int64

In [5]:
X.head()

          x         y         z
0  8.074807  5.988044  3.844979
1  4.952249  5.823205  1.612045
2  4.773178  0.078757  4.209442
3  9.845919  2.055448  3.525702
4  1.612492  1.320515  8.200455

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.30)

In [7]:
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier(n_neighbors=3)
KNN.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [8]:
predict = KNN.predict(X_test)

In [9]:
from sklearn.metrics import classification_report, confusion_matrix

In [10]:
print(confusion_matrix(y_test,predict))

[[4 0]
 [0 2]]

In [11]:
print(classification_report(y_test,predict))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         4
           1       1.00      1.00      1.00         2

    accuracy                           1.00         6
   macro avg       1.00      1.00      1.00         6
weighted avg       1.00      1.00      1.00         6

In [12]:
def euclidean_dist(A, B):                               #Euclidean Distance function
    return np.sqrt(sum(np.square(A-B)))

In [13]:
def euclidean_weight(d):                                #Euclidean Weighted Function
    return 1/d**2

In [14]:
X = traindata.drop(['class'],axis=1,)
y = traindata['class']
y.head()

0    1
1    1
2    1
3    0
4    0
Name: class, dtype: int64

In [15]:
X.head()

          x         y         z
0  8.599291  9.729418  6.432371
1  6.592955  0.082556  1.969544
2  5.596471  9.815682  0.027295
3  2.743639  8.783177  4.041946
4  4.458362  5.750222  0.099070

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.30)

In [17]:
KNN = KNeighborsClassifier(n_neighbors=3)
KNN.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [18]:
predict = KNN.predict(X_test)

In [19]:
print(confusion_matrix(y_test,predict))

[[163  18]
 [ 17 102]]

In [20]:
print(classification_report(y_test,predict))

              precision    recall  f1-score   support

           0       0.91      0.90      0.90       181
           1       0.85      0.86      0.85       119

    accuracy                           0.88       300
   macro avg       0.88      0.88      0.88       300
weighted avg       0.88      0.88      0.88       300

In [21]:
#test.csv has more accuracy as compared to train.csv